{
  "env": {
    "cjs": {
     "presets": [
        ["env", {
          "targets": {
            "node": 4.0,
            "browsers": ["last 2 versions"]
          }
        }],
        "react",
        "stage-0"
      ],
    },
    "esm": {
      "presets": [
        ["env", {
          "targets": {
            "node": 4.0,
            "browsers": ["last 2 versions"]
          },
          "modules": false
        }],
        "react",
        "stage-0"
      ],
    }
  }
}
